@model IEnumerable<SM.Business.Models.ProductModel>

@{
    ViewData["Title"] = "Index";
}

<h2>@ViewBag.StoreName's prodcuts</h2>


<form asp-action="Index" method="get">
    <div class="input-group mt-5">
        <input type="hidden" name="storeId" value="@ViewBag.StoreId" />
        <input type="text" placeholder="Search product..." name="search" class="form-control" value="@ViewBag.SearchTerm" />
        <input type="submit" value="Search" class="btn btn-primary" />
    </div>
</form>

<p class="mt-5">
    <a asp-action="Create" asp-route-storeId="@ViewBag.StoreId">Add Product</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
             @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name) <div>Its location is 
                    @Html.DisplayFor(modelItem => item.Location)
                </div>
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
            <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id,storeId = item.StoreId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id, storeId = item.StoreId })
            </td>
        </tr>
}
    </tbody>
</table>
